<a href="mailto:prodaja@plandevet.hr?subject={{subject}} {{id}}"
   data-bs-toggle="tooltip"
   data-bs-title="{{subject}} {{id}}"
>
    <svg class="svg-icon"><use href="#bi-envelope-at"></use></svg>
</a>
