<tr>
  <td class="text-nowrap">
    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-spremiste">
      {{code}}
    </a>
  </td>
  <td class="text-center">{{area}}</td>
  <td class="text-center">{{price}}</td>
</tr>
